:root {
    --blue: #4169E1;
    --white: #FAF9F6;
    --content-background: #F5F5F5;
}

@font-face {
    font-family: 'Lemon Jelly';
    src: url(fonts/LemonJelly.ttf) format('truetype');
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
}

header {
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo a {
    cursor: pointer;
    color: var(--white);
    font-size: 50pt;
    transition: 0.2s;
    font-family: 'Lemon Jelly', sans-serif;
}

.logo a:hover {
    color: red;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: 0.2s;
    color: var(--white);
    font-size: 20px;
}

.nav-links li a:hover {
    color: red;
}

h1 {
    font-size: 40px;
}

.work-experience h2 {
    font-size: 25px;
    color: gray;
    text-decoration: underline;
}

main {
    animation: fadein 0.75s;
    margin: 40px 15%;
    padding: 35px;
    background-clip: padding-box;
    background-color: var(--content-background);
}

.about-me {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0 0 50px;
}

.about-me img {
    border-radius: 50%;
    width: 250px;
    height: auto;
}

.about-me div {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.about-me-images img {
    width: 250px;
    height: auto;
}

.about-me-images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0 0 20px;
}

.work-experience {
    display: flex;
    gap: 40px;
    padding: 0 0 50px;
}

main ul {
    list-style-position: inside;
}

#innovive {
    flex: 1 1 0;
    width: 0;
}

#floor-and-decor {
    flex: 1 1 0;
    width: 0;
}

.projects {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.projects img {
    height: 200px;
    width: 100%;
    padding: 0 0 15px;
}

.card {
    background-color: lightgray;
    width: 300px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 5px;
}

.card h2 {
    color: black;
    font-size: 25px;
    text-decoration: underline;
}

footer {
    text-align: center;
}

/* Mobile Devices */
@media screen and (max-width: 640px) {
    header {
        padding: 20px 0px 20px 20px;
    }

    .logo a {
        font-size: 40px;
    }

    .nav-links li a {
        font-size: 15px;
    }

    .about-me {
        flex-direction: column;
    }

    .about-me img {
        width: 150px;
        height: auto;
    }

    .about-me div {
        width: 100%;
    }

    .about-me-images {
        flex-direction: column;
        gap: 20px;
    }

    .work-experience {
        flex-direction: column;
    }

    #innovive {
        width: 100%;
    }

    #floor-and-decor {
        width: 100%;
    }
}

/* Tablets and restrictive laptops */
@media screen and (min-width: 641px) and (max-width: 1024px) {
    header {
        padding: 20px 0px 15px 20px;
    }

    .logo a {
        font-size: 45px;
    }

    .nav-links li a {
        font-size: 22px;
    }

    .about-me {
        flex-direction: column;
    }

    .about-me div {
        width: 100%;
    }

    .about-me-images {
        flex-direction: column;
        gap: 20px;
    }

    .work-experience {
        flex-direction: column;
    }

    #innovive {
        width: 100%;
    }

    #floor-and-decor {
        width: 100%;
    }
}